<div id="<%= dom_id gallery %>">
  <p>
    <strong>Name:</strong>
    <%= gallery.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= gallery.date %>
  </p>

  <p>
    <strong>Photos:</strong>
    <% gallery.photos.each do |photo| %>
      <div><%= link_to photo.filename, photo %></div>
    <% end %>
  </p>

</div>
