.cropper-control {
  width: auto;

  .previews {
    max-width: 200px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;

    @extend .border !optional;
    @extend .rounded !optional;
  }
}
