<div class="footer mt-auto py-3">
  <div class="container">
    <footer>
      <%== render "partners" %>
      <div class="row row-cols-1">
        <div class="col">
          <div class="card mb-3">
            <div class="card-body text-center">
              <a href="https://www.facebook.com/groups/2431275356936386/" class="btn btn-lg text-white" style="background-color: #0a53be">
                <span class="fa-brands fa-fw fa-facebook-f" title="Facebook"></span>
              </a>
              <a href="https://twitter.com/ciclosmajor1" class="btn btn-lg text-white" style="background-color: rgb(85, 172, 238);">
                <span class="fa-brands fa-fw fa-twitter" title="Twitter"></span>
              </a>
              <a href="https://www.instagram.com/ciclos_major_/" class="btn btn-lg text-white" style="background-color: rgb(172, 43, 172)">
                <span class="fa-brands fa-fw fa-instagram" title="Instagram"></span>
              </a>
              <a href="mailto:info@ciclosmajor.com" class="btn btn-lg btn-primary">
                <span class="fa-solid fa-fw fa-envelope" title="Email"></span>
              </a>
              <a href="tel:00447557688309" class="btn btn-lg btn-primary">
                <span class="fa-solid fa-fw fa-phone" title="Phone"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-sm-2">
        <div class="col">
          <div class="card mb-3">
            <div class="card-header">
              <span class="fa-solid fa-fw fa-phone"></span>
              Call us
            </div>
            <div class="list-group list-group-flush">
              <a href="tel:0031650228175" class="list-group-item list-group-item-action">00 31 6 5022 8175</a>
              <a href="tel:00447557688309" class="list-group-item list-group-item-action">00 44 7557 688309</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3">
            <div class="list-group list-group-flush">
              <a href="/privacy-policy" class="list-group-item list-group-item-action">Privacy Policy</a>
              <a href="/terms-and-conditions" class="list-group-item list-group-item-action">Terms & Conditions</a>
              <a href="/faqs" class="list-group-item list-group-item-action">FAQs</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
